<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <p>&copy; 2024 Lindel. All rights reserved.</p>
        <p>
            <a href="https://www.bbi.uw.edu/"><img src="{{ url_for('static', filename='img/bbi_logo.png') }}" alt="BBI Logo" height="40"></a>
            <a href="https://www.hhmi.org/"><img src="{{ url_for('static', filename='img/hhmi-logo.png') }}" alt="HHMI Logo" height="40"></a>
            <a href="https://moles.washington.edu/"><img src="{{ url_for('static', filename='img/MolES_logo.png') }}" alt="MolES Logo" height="40"></a>
        </p>
    </div>
</footer>