<header class="site-header" role="banner">
  <div class="container-fullwidth">
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-static-top">
      <div class="container">
        <div class="navbar-header d-flex align-items-center">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="https://shendurelab.github.io/Lindel/" style="font-size: 24px;">Lindel</a>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-3">
              <li class="nav-item"><a class="nav-link" href="https://shendurelab.github.io/Lindel/docs/" style="font-size: 18px;">Documentation</a></li>
              <li class="nav-item"><a class="nav-link" href="https://lindel.appspot.com/" style="font-size: 18px;">Online tool</a></li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/shendurelab/Lindel" style="font-size: 18px;">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>