<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CDN for Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Local CSS files for custom styles -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/prism-darcula.css') }}" />
  <title>Lindel</title>
</head>
