<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<footer class="site-footer">
	<center>
		<div class="wrapper">
    		<img src="{{site.baseurl}}/images/newlogo2.png" width=150 align=center >
    		<img src="{{site.baseurl}}/images/hhmi-logo.png" width=150 align=center >
    		<img src="{{site.baseurl}}/images/grouplogo.jpg" width=150 align=center >
    		<img src="{{site.baseurl}}/images/bbi_logo.png" width=150 align=center >
    		<img src="{{site.baseurl}}/images/MolES_logo.png" width=150 align=center >
  		</div>
  	</center>
</footer>
